/* START GLOBAL RULES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #03a4ed;
  --main-secend-color: #fe3f40;
  --text-color: #2a2a2a;
  --main-padding-top: 80px;
  --main-padding-bottom: 80px;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
}
h2.title {
  width: fit-content;
  margin: 0 auto 60px;
  font-size: 40px;
  color: var(--text-color);
  letter-spacing: 2px;
}
h2.title.edited {
  margin: 0 auto 80px;
}
span.main-color {
  color: var(--main-color);
}
span.main-secend-color {
  color: var(--main-secend-color);
}
/* FOR ALL CONTAINERS */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* SMALL SCREENS */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* MEDIUM SCREENS*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* LARGE SCREENS */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* END GLOBAL RULES */
/* START HEADER */
header {
  background-color: #fafafa;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 20;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  font-size: 25px;
  font-weight: 700;
  color: var(--main-color);
  letter-spacing: 2px;
}
header .container .logo span {
  color: var(--main-secend-color);
}
header .container ul {
  display: flex;
  align-items: center;
  gap: 35px;
}
header .container ul li a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  transition: var(--main-transition);
}
header .container ul li a:hover {
  color: var(--main-secend-color);
}
header .container ul li a.active {
  color: var(--main-secend-color);
}
header .container ul .button {
  background-color: var(--main-secend-color);
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  box-shadow: 0 2px 0px 0 #d83535;
  transition: var(--main-transition);
}
header .container ul .button:hover {
  background-color: var(--main-color);
  box-shadow: 0 2px 0px 0 #037cb4;
}
/* START HEADER MEDIA */
@media (max-width: 767px) {
  header .container {
    width: 100%;
  }
}
@media (min-width: 993px) {
  header .container .links > i {
    display: none;
  }
}
@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  header .container .links ul {
    position: fixed;
    right: 0px;
    top: 33px;
    flex-direction: column;
    gap: 0;
    background-color: #fafafa;
    z-index: 50;
    width: 0;
    height: calc(100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
  }
  header .container .links:hover ul {
    width: 180px;
    opacity: 1;
    visibility: visible;
  }
  header .container ul li:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
  }
  header .container ul li {
    width: 100%;
  }
  header .container ul li a {
    padding: 20px;
  }
  header .container ul .button {
    display: none;
  }
  header .container .links > i {
    font-size: 27px;
    color: var(--text-color);
    cursor: pointer;
  }
}
/* END HEADER MEDIA */
/* END HEADER */
/* START LANDING PAGE */
.landing {
  padding-top: 150px;
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.landing::before {
  content: "";
  background-image: url(../images/landing-left.png);
  background-size: cover;
  width: 193px;
  height: 467px;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}
.landing::after {
  content: "";
  background-image: url(../images/landing-right.png);
  background-size: cover;
  width: 98px;
  height: 290px;
  position: absolute;
  right: 0;
  top: 91px;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.landing .container .main-text .welcomeing {
  color: var(--main-secend-color);
  font-size: 18px;
  font-weight: 500;
}
.landing .container .main-text h1 {
  color: var(--text-color);
  font-size: 3.1em;
  margin: 25px 0;
  line-height: 1.4;
  max-width: 500px;
}
.landing .container .main-text .description {
  color: var(--text-color);
  line-height: 30px;
  max-width: 600px;
  font-size: 15px;
}
.landing .container .main-text form {
  margin-top: 35px;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 90%;
}
.landing .container .main-text form input {
  border: none;
  outline: none;
  font-size: 15px;
}
.landing .container .main-text form input[type="url"] {
  background-color: var(--main-color);
  color: white;
  width: 100%;
  padding: 14px;
  border-radius: inherit;
}
.landing .container .main-text form input[type="url"]::placeholder {
  color: rgba(255, 255, 255, 0.884);
  opacity: 1;
  transition: var(--main-transition);
}
.landing .container .main-text form input[type="url"]:focus::placeholder {
  opacity: 0;
}
.landing .container .main-text form input[type="submit"] {
  background-color: white;
  padding: 0 23px;
  border-radius: inherit;
  color: var(--main-secend-color);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 0 0 rgb(197, 197, 197);
}
.landing .container img {
  max-width: 100%;
}
/* START LANDING MEDIA */
@media (max-width: 991px) {
  .landing {
    padding-top: 200px;
  }
  .landing .container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .landing .container .main-text h1 {
    max-width: 80%;
    margin: 25px auto;
  }
  .landing .container .main-text .description {
    margin: 0 auto;
  }
  .landing .container .main-text form {
    margin: 35px auto 0;
  }
}
@media (max-width: 560px) {
  .landing .container .main-text h1 {
    font-size: 2em;
  }
  .landing .container .main-text .welcomeing {
    font-size: 17px;
  }
  .landing .container .main-text form input[type="submit"] {
    padding: 0 11px;
  }
}
/* END LANDING MEDIA */
/* END LANDING PAGE */
/* START ABOUT */
.about-us {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.about-us .about {
  background-image: url(../images/about-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 120px 0px 140px;
  position: relative;
}
.about-us .about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .about .container .image {
  flex-basis: 40%;
}
.about-us .about .container .image img {
  max-width: 100%;
}
.about-us .about .container .content {
  display: flex;
  gap: 15px;
}
.about-us .about .container .content .flex .flex-child {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  color: white;
}
.about-us .about .container .content .flex .flex-child:first-of-type {
  margin-bottom: 40px;
}
.about-us .about .container .content .flex .flex-child .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.about-us .about .container .content .flex .flex-child .text p {
  font-size: 15px;
  line-height: 1.8;
}
/* START ABOUT MEDIA */
@media (max-width: 991px) {
  .about-us .about .container .image {
    position: absolute;
    text-align: center;
    top: -140px;
    z-index: -1;
  }
  .about-us .about .container .image img {
    max-width: 60%;
  }
}
@media (max-width: 767px) {
  .about-us .about {
    background-image: none;
    padding: 50px 0 0;
  }
  .about-us .about .container .content {
    flex-direction: column;
  }
  .about-us .about .container .content .flex .flex-child:first-of-type {
    margin-bottom: 15px;
  }
  .about-us .about .container .content .flex .flex-child {
    background: linear-gradient(
      105deg,
      rgba(255, 77, 30, 1) 0%,
      rgba(255, 44, 109, 1) 100%
    );
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    border-radius: 20px;
  }
}
/* END ABOUT MEDIA */
/* END ABOUT */
/* START SERVICES */
.services {
  padding-bottom: var(--main-padding-bottom);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  align-items: center;
}
.services .container img {
  max-width: 100%;
  margin: 0 auto;
}
.services .container .serv-text .text h3 {
  font-size: 30px;
  line-height: 1.4;
}
.services .container .serv-text .text p {
  line-height: 2;
  margin-top: 30px;
  font-size: 15px;
}
.services .container .serv-text .progress {
  margin-top: 60px;
}
.services .container .serv-text .progress .progress-child {
  margin-bottom: 30px;
}
.services .container .serv-text .progress .progress-child h4 {
  font-size: 18px;
}
.services .container .serv-text .progress .progress-child .prog {
  background-color: #f7eff1;
  height: 6px;
  border-radius: 3px;
  margin-top: 13px;
}
.services .container .serv-text .progress .progress-child .prog span {
  height: 100%;
  background-color: var(--main-secend-color);
  display: block;
  border-radius: inherit;
  position: relative;
}
.services .container .serv-text .progress .progress-child .prog span::before {
  content: attr(data-progress);
  position: absolute;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  right: -25px;
  bottom: 17px;
}
/* START SERVICES MEDIA */
@media (max-width: 767px) {
  .services {
    padding-top: var(--main-padding-top);
  }
}
@media (max-width: 660px) {
  .services .container .serv-text .text {
    text-align: center;
  }
}
/* END SERVICES MEDIA */
/* END SERVICES */
/* START PORTFOLIO */
.portfolio {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.portfolio .container h3 {
  font-size: 30px;
  margin: 0 auto 100px;
  text-align: center;
  max-width: 400px;
  line-height: 1.4;
  letter-spacing: 1px;
}
.portfolio .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.portfolio .container .content .box {
  position: relative;
  text-align: center;
  cursor: pointer;
  z-index: 4;
}
.portfolio .container .content .box .showed-box {
  padding: 25px;
  box-shadow: 0 2px 8px 0px rgb(0 0 0 / 20%);
  border-radius: 20px;
  background-color: white;
  position: relative;
  top: 0;
  z-index: 3;
  transition: top calc(var(--main-transition) + 0.3s);
}
.portfolio .container .content .box .showed-box h4 {
  margin-bottom: 15px;
  font-size: 18px;
}
.portfolio .container .content .box:hover .showed-box {
  top: 90px;
}
.portfolio .container .content .box .showed-box img {
  max-width: 100%;
}
.portfolio .container .content .box .hidden-box {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    105deg,
    rgba(255, 77, 30, 1) 0%,
    rgba(255, 44, 109, 1) 100%
  );
  color: white;
  padding: 30px 20px;
  border-radius: 20px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: top calc(var(--main-transition) + 0.3s),
    opacity calc(var(--main-transition) + 0.3s),
    visibility calc(var(--main-transition) + 0.3s);
}
.portfolio .container .content .box .hidden-box::before {
  content: "";
  border: 12px solid;
  border-color: var(--main-secend-color) transparent transparent transparent;
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio .container .content .box:hover .hidden-box {
  top: -90px;
  opacity: 1;
  visibility: visible;
}
.portfolio .container .content .box .hidden-box h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.portfolio .container .content .box .hidden-box p {
  line-height: 1.9;
  font-size: 15px;
}
/* END PORTFOLIO */
/* START BLOG*/
.blog {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.blog > h3 {
  max-width: 450px;
  margin: 0 auto 80px;
  font-size: 30px;
  text-align: center;
  line-height: 1.4;
}
.blog .container {
  display: flex;
  gap: 20px;
}
/* for all images in this section */
.blog .container img {
  max-width: 100%;
  border-radius: 20px;
}
.blog .container .box-left {
  flex-basis: 50%;
}
.blog .container .box-left img {
  box-shadow: 0 0px 12px 0 rgb(0 0 0 / 15%);
}
.blog .container .box-left .info {
  width: 90%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
  padding: 30px;
  position: relative;
  margin-top: -100px;
}
.blog .container .box-left .info .icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
/* for all date classes in this section */
.blog .container .date {
  color: #afafaf;
  font-size: 15px;
}
.blog .container .date i {
  color: var(--main-secend-color);
  margin-right: 4px;
  font-size: 16px;
}
/* ---------------------------- */
.blog .container h4 {
  color: var(--text-color);
  font-size: 20px;
  margin: 20px 0 18px;
  cursor: pointer;
}
.blog .container p {
  line-height: 1.9;
  font-size: 15px;
}
.blog .container .box-left .info a {
  background-color: var(--main-color);
  width: fit-content;
  padding: 15px 20px;
  color: white;
  font-size: 15px;
  border-radius: 50px;
  margin-top: 25px;
}
.blog .container .box-right {
  flex-basis: 50%;
}
.blog .container .box-right .box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.blog .container .box-right .box:last-of-type {
  padding-bottom: 0;
}
.blog .container .box-right .box .text {
  flex-basis: 40%;
  margin: 0 auto;
}
/* START BLOG MEDIA */
@media (max-width: 767px) {
  .box-right .box {
    flex-direction: column;
    align-items: unset !important;
    gap: 20px !important;
    padding-top: 30px;
  }
  .box-right .box:first-of-type {
    border-top: 1px solid #ddd;
  }
  .box-right .box:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
  }
  .box-right .box .text {
    margin: unset !important;
  }
}
@media (max-width: 991px) {
  .blog .container {
    flex-direction: column;
    gap: 40px;
  }
  .blog .container img {
    width: 100%;
  }
  .blog .container .box-left .image-holder {
    text-align: center;
  }
  .blog .container .box-left .info {
    width: 100%;
  }
  .blog .container .box-right .box {
    gap: 50px;
  }
  .blog .container .box-right .box .text {
    flex-basis: 100%;
  }
}
/* END BLOG MEDIA*/
/* END BLOG*/
/* START CONTACT */
.contact {
  /* padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom); */

  background-image: url(../images/contact-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 150px 0;
}
.contact .container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.contact .container .contact-info {
  color: white;
  /* flex-basis: 50%; */
}
.contact .container .contact-info h3 {
  font-size: 30px;
  line-height: 1.5;
}
.contact .container .contact-info p {
  font-size: 15px;
  margin: 25px 0;
  line-height: 1.9;
}
.contact .container .contact-info .flex {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
.contact .container .contact-info .flex h4 {
  font-size: 20px;
}
.contact .container .contact-info .flex .call-us {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact .container .contact-info .flex .call-us .phone-icon {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .container .contact-info .flex .call-us .phone-icon i {
  color: var(--main-secend-color);
  font-size: 17px;
}
.contact .container form {
  background-color: white;
  padding: 60px 30px;
  border-radius: 20px;
  flex-basis: 70%;
  font-size: 15px;
}
.contact .container form .field {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact .container form input,
.contact .container form textarea {
  display: block;
  width: 100%;
  background-color: #d1f3ff;
  color: #2a2a2a;
  padding: 15px 20px;
  border-radius: 23px;
  border: none;
  outline: none;
}
.contact .container form input[type="email"] {
  margin: 20px 0;
}
.contact .container form textarea {
  height: 140px;
  transition: var(--main-transition);
}
.contact .container form textarea:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.contact .container form input[type="submit"] {
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.contact .container form input[type="submit"]:hover {
  background-color: var(--main-secend-color);
}
/* START CONTACT MEDIA */
@media (max-width: 991px) {
  .contact {
    padding: 130px 0 145px;
  }
  .contact .container {
    flex-direction: column;
    text-align: center;
  }
  .contact .container .contact-info .flex {
    justify-content: center;
  }
  .contact .container form {
    width: 100%;
  }
  .contact .container form .field {
    flex-direction: column;
  }
}
/* END CONTACT MEDIA */
/* END CONTACT */
/* START FOOTER */
p.footer {
  margin: 30px 0;
  text-align: center;
  line-height: 2;
  font-size: 15px;
  color: #2a2a2a;
}
p.footer samp {
  display: block;
  font-size: 16px;
}
p.footer samp i {
  color: #e91e63;
}
/* END FOOTER */
